<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать студента</title>
</head>
<body>
<h1>Создать студента</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.full_name.label }}: {{ form.full_name() }}</p>
    <p>{{ form.birth_date.label }}: {{ form.birth_date() }}</p>
    <p>{{ form.university.label }}: {{ form.university() }}</p>
    <p>{{ form.admission_year.label }}: {{ form.admission_year() }}</p>
    <p><input type="submit" value="Create"></p>
</form>
</body>
</html>
