<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список университетов</title>
</head>
<body>
<h1>Список университетов</h1>
<ul>
    {% for university in universities %}
        <li>
            <a href="{{ url_for('university_detail', university_id=university.id) }}">
                {{ university.short_name }} - {{ university.full_name }}
            </a>
            | <a href="{{ url_for('edit_university', university_id=university.id) }}">Edit</a>
            | <a href="{{ url_for('delete_university', university_id=university.id) }}">Delete</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('create_university') }}">Создать университет</a>
<br>

<br>
<a href="{{ url_for('students') }}">Список студентов</a>

{% if current_user.username == null %}
<p><a href="{{ url_for('login') }}">Login</a></p>
{% else %}
<p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endif %}

</body>
</html>
