<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>
<body>
<h1>Список студентов</h1>
<ul>
    {% for student in students %}
        <li>
            <a href="{{ url_for('edit_student', student_id=student.id) }}">
                {{ student.full_name }} - {{ student.admission_year }}
            </a>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('create_student') }}">Создать студента</a>
<br>

<a href="{{ url_for('index') }}">Список университетов</a>
<br>

<p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>