<!DOCTYPE html>
<html>
<head>
    <title>Список университетов</title>
</head>
<body>
<h1>Список университетов</h1>
<ul>
    {% for university in universities %}
        <li>
            <strong>{{ university.full_name }}</strong> ({{ university.short_name }}) -
            Создан: {{ university.creation_date }}
            <ul>
                {% for student in university.student_set.all %}
                    <li>
                        {{ student.full_name }} - {{ student.birth_date }} - Год
                        поступления: {{ student.enrollment_year }}
                        [<a href="{% url 'student_edit' pk=student.pk %}">Изменить</a>]
                        [<a href="{% url 'student_delete' pk=student.pk %}">Удалить</a>]
                    </li>
                {% endfor %}
            </ul>
            [<a href="{% url 'university_edit' pk=university.pk %}">Изменить</a>]
            [<a href="{% url 'university_delete' pk=university.pk %}">Удалить</a>]
        </li>
    {% endfor %}
</ul>

<a href="{% url 'university_new' %}">Добавить</a>
<a href="{% url 'students_list' %}">Список студентов</a>

</body>
</html>
